<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<mat-toolbar color="primary" class="mat-elevation-z8">
    <img  style="width: 80px;"  src="assets/images/logo4.png" > 
    <span class="example-spacer"></span>
    <button routerLink="" mat-button>INICIO</button>
    <a  mat-button class="nav-link" href="#nosotras">NOSOTRAS</a>
    <button mat-button [matMenuTriggerFor]="servicios" class="link">SERVICIOS</button>
    <mat-menu #servicios="matMenu" class="dropdowncontent" >
        <a mat-menu-item class="nav-link" href="#tortas">Tortas</a>
        <a mat-menu-item class="nav-link" href="#bocaditos">Bocaditos</a>
        <a mat-menu-item class="nav-link" href="#complementos">Complementos</a>  
    </mat-menu>
    <button routerLink="" mat-button style="padding-right: 20px;">CONTACTO</button>
    <i class="fa fa-shopping-cart" aria-hidden="true" style="padding-right: 200px;"></i>
    <button routerLink="" mat-button class="fas fa-user" style="padding-right: 30px;">INICIAR SESION</button>   
</mat-toolbar>

<!-- <mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="card" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="slider" mat-button><mat-icon>explore</mat-icon> Slider</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="table" mat-button><mat-icon>table</mat-icon> Table</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
            </div>
    </mat-drawer-content>
</mat-drawer-container> -->

