<!-- import { Link } from "react-router-dom"; -->
<section id="complementos">
<div class="container">
    <div >
      <h2 class="titulo">COMPLEMENTOS</h2>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/1.jpg"  class="button">
        <img src="assets/images/globo1.jpg" alt="Imagen 1" />
        <span class="text" >FELIZ CUMPLEAÑOS AMARILLO<br />S/10.00</span>
      </a>
    
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/2.jpg" class="button">
        <img src="assets/images/globo2.jpg" alt="Imagen 2" />
        <span class="text">HAPPY BIRTHDAY GLOBOS<br />S/20.00</span>
      </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/3.jpg" class="button">
        <img src="assets/images/globo3.jpg" alt="Imagen 2" />
        <span className="text">FELIZ CUMPLEAÑOS NEGRO<br />S/10.00</span>
    </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/4.jpg" class="button">
        <img src="assets/images/globo4.jpg" alt="Imagen 2" />
        <span class="text">FELIZ CUMPLEAÑOS<br />S/10.00</span>
    </a>
    </div>
  </div>
</section>