<div >
  <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
</div>
<div class="container">
  <swiper [config]="config" >
       <ng-template swiperSlide *ngFor="let slide of slides">
           <a [href]="slide.link" target="_blank" >
                <img [src]="slide.image" alt="foto" />
           </a>
      </ng-template>
 </swiper>
</div>

<!--mili-->
<!-- import { Link } from "react-router-dom";
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <section id="tortas"  style="margin-top: -70px;">
        <div class="container">
        
            <div >
              <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/1.jpg"  class="button">
                <img src="assets/images/1.jpg" alt="Imagen 1" />
                <span class="text" >TORTA DE MASA ELÁSTICA <br />S/70.00</span>
              </a>
            
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/2.jpg" class="button">
                <img src="assets/images/2.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE FRESA<br />S/35.00</span>
              </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/3.jpg" class="button">
                <img src="assets/images/3.jpg" alt="Imagen 2" />
                <span className="text">SELVA NEGRA<br/>S/60.00</span>
            </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/4.jpg" class="button">
                <img src="assets/images/4.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE PLÁTANO<br/>S/60.00</span>
            </a>
            </div>

          </div>
        </section>
    </div>
    <div class="carousel-item">
      <section id="tortas"  style="margin-top: -70px;">
        <div class="container">
        
            <div >
              <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/1.jpg"  class="button">
                <img src="assets/images/1.jpg" alt="Imagen 1" />
                <span class="text" >TORTA DE MASA ELÁSTICA <br />S/70.00</span>
              </a>
            
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/2.jpg" class="button">
                <img src="assets/images/2.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE FRESA<br />S/35.00</span>
              </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/3.jpg" class="button">
                <img src="assets/images/3.jpg" alt="Imagen 2" />
                <span className="text">SELVA NEGRA<br/>S/60.00</span>
            </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/4.jpg" class="button">
                <img src="assets/images/4.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE PLÁTANO<br/>S/60.00</span>
            </a>
            </div>

          </div>
        </section>
    </div>
    <div class="carousel-item">
      
      <section id="tortas"  style="margin-top: -70px;">
        <div class="container">
        
            <div >
              <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/1.jpg"  class="button">
                <img src="assets/images/1.jpg" alt="Imagen 1" />
                <span class="text" >TORTA DE MASA ELÁSTICA <br />S/70.00</span>
              </a>
            
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/2.jpg" class="button">
                <img src="assets/images/2.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE FRESA<br />S/35.00</span>
              </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/3.jpg" class="button">
                <img src="assets/images/3.jpg" alt="Imagen 2" />
                <span className="text">SELVA NEGRA<br/>S/60.00</span>
            </a>
            </div>
            <div class="buttonContainer2">
              <a to="assets/images/4.jpg" class="button">
                <img src="assets/images/4.jpg" alt="Imagen 2" />
                <span class="text">TORTA DE PLÁTANO<br/>S/60.00</span>
            </a>
            </div>

          </div>
        </section>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!--primero-->
<!-- <section id="tortas"  style="margin-top: -70px;">
<div class="container">

    <div >
      <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/1.jpg"  class="button">
        <img src="assets/images/1.jpg" alt="Imagen 1" />
        <span class="text" >TORTA DE MASA ELÁSTICA <br />S/70.00</span>
      </a>
    
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/2.jpg" class="button">
        <img src="assets/images/2.jpg" alt="Imagen 2" />
        <span class="text">TORTA DE FRESA<br />S/35.00</span>
      </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/3.jpg" class="button">
        <img src="assets/images/3.jpg" alt="Imagen 2" />
        <span className="text">SELVA NEGRA<br/>S/60.00</span>
    </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/4.jpg" class="button">
        <img src="assets/images/4.jpg" alt="Imagen 2" />
        <span class="text">TORTA DE PLÁTANO<br/>S/60.00</span>
    </a>
    </div>
  </div>
</section> -->


  