<!-- import { Link } from "react-router-dom"; -->
<section id="tortas"  style="margin-top: -70px;">
<div class="container">

    <div >
      <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;">TORTAS</h2>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/1.jpg"  class="button">
        <img src="assets/images/1.jpg" alt="Imagen 1" />
        <span class="text" >TORTA DE MASA ELÁSTICA <br />S/70.00</span>
      </a>
    
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/2.jpg" class="button">
        <img src="assets/images/2.jpg" alt="Imagen 2" />
        <span class="text">TORTA DE FRESA<br />S/35.00</span>
      </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/3.jpg" class="button">
        <img src="assets/images/3.jpg" alt="Imagen 2" />
        <span className="text">SELVA NEGRA<br/>S/60.00</span>
    </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/4.jpg" class="button">
        <img src="assets/images/4.jpg" alt="Imagen 2" />
        <span class="text">TORTA DE PLÁTANO<br/>S/60.00</span>
    </a>
    </div>
  </div>
</section>