    <!-- <div class="container"> -->
        <!-- <div class="contenedor">
          <a routerLink="/">
            <button class="botoncerrar" (click)="handleClose()">X</button>
          </a>
          <div class="encierro">
            <a routerLink="/ingresar">
              <button class="button">Ingresar</button>
            </a>
            <a routerLink="/registrarse">
              <button class="button">Registrarse</button>
            </a>
          </div>
        </div>
      </div> -->
      <!-- <app-footer></app-footer>
   -->
<!-- <div class="container-fluid position-absolute" style="background:url('./panaderia.jpg');">  -->
<!-- <div class="container-fluid position-absolute" >  -->
<div style="height: 570px;"> 
  <!-- <img src="panaderia.jpg"/>  -->
  <a routerLink="/">
  <button class="botoncerrar" (click)="handleClose()">X</button>
  </a>
  <div class="encierro" >
    <a routerLink="/ingresar">
      <button class="button">Ingresar</button>
    </a>
    <a routerLink="/registrarse">
      <button class="button">Registrarse</button>
    </a>
  </div>
</div>
<app-footer></app-footer>

