
<div className="container">
    <div className="contenedor">
        <a className="linkContainer" to="/">
            <button className="botoncerrar" onClick="handleClose()">
                X
            </button>
        </a>
        <div className="encierro">
            <a to="/ingresar">
                <button className="button">
                    Ingresar
                </button>
            </a>
            <a to="/registrarse">
                <button className="button">
                    Registrarse
                </button>
            </a>
        </div>
    </div>
</div>