.footer{
    background-color: #FF8DC7;
    color:#fff;
    //position:fixed;
    bottom: 0;
    width:100%;/*largo*/
    height: 80px; /*ancho*/
    flex-shrink: 0; /* Evita que el footer afecte el crecimiento del contenido principal */
}

