<!-- <footer id="main-footer">
    <div class="container">
        MyM-Pastry 2023 - Todos los derechos reservados
    </div>
</footer>
<router-outlet></router-outlet> -->

<app-navbar></app-navbar>

<!-- <app-carousel></app-carousel>
<app-about style="margin-top: -70px;"></app-about>
<app-tortas style="margin-top: -70px;"></app-tortas>
<app-bocaditos style="margin-top: -70px;"></app-bocaditos>
<app-complementarios sstyle="margin-top: -80px;margin-bottom:-70px;"></app-complementarios>-->
<!-- <app-footer></app-footer>  -->
<router-outlet></router-outlet> 




