<!-- import { Link } from "react-router-dom"; -->
<section id="bocaditos" style="margin-top: -70px;" >
<div class="container">

    <div >
      <h2 class="titulo" style="font-size:large; text-transform: uppercase; color: black;" >BOCADITOS</h2>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/1.jpg"  class="button">
        <img src="assets/images/empanadas.jpg" alt="Imagen 1" />
        <span class="text" >ALFAJORES X 25<br />S/22.00</span>
      </a>
    
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/2.jpg" class="button">
        <img src="assets/images/minipizza.jpg" alt="Imagen 2" />
        <span class="text">HOJALDRE DE MORTADELA X 25<br />S/30.00</span>
      </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/3.jpg" class="button">
        <img src="assets/images/pitipanes.jpg" alt="Imagen 2" />
        <span className="text">PITIPANES CON POLLO DESILACHADO X 25<br>S/22.00</span>
    </a>
    </div>
    <div class="buttonContainer2">
      <a to="assets/images/4.jpg" class="button">
        <img src="assets/images/triple.jpg" alt="Imagen 2" />
        <span class="text">BROWNIES X 25<br>S/27.00</span>
    </a>
    </div>
  </div>
</section>