@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700,900&display=swap');
.container {
    display: flex;
    color:white;
}

.column {
    flex: 1;
    padding: 10px;
    // border: 1px solid #ccc;
}
h2{
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: justify;
    color: dimgray;
}
h3{
    font-size: 24px;
    font-weight: 700;
    color: dimgray;
}

h4{
    color: #FF8DC7;

}
// .padded{
//     padding-top: 80px;
//     padding-bottom: 80px;
// }
// .filaSeleccionada{
//     background-color: #ffcc00!important;
// }
