// .example-spacer {
//     flex: 1 1 auto;
//   }
//   mat-toolbar.sticky{
//     background-color: rgb(255, 141, 199);
//     color: rgb(255, 255, 255);
//     position: fixed;
//     top: 0;
//     z-index: 999;
//     box-shadow: #a7a7a7 0px 0px 5px;  
//   }

//   mat-toolbar{
//     background-color:  rgb(255, 141, 199);
//     color: rgb(255, 255, 255);
//   }
//   button{
//     background-color:  rgb(255, 141, 199);
//     color: rgb(255, 255, 255);
//   }
//   #imagen {
//     width: 80px; /* Ancho en píxeles */
//   }
//   .link:hover {
//     cursor: pointer;
//     color: white;
//     /* text-shadow:  rgb(111, 111, 239); */
//     box-shadow: inset 0 -3px 0   #FF8DC7;
//     transition: box-shadow 0.5s;  
//     text-decoration:none;
//   }
//   /* Dropdown Content (Hidden by Default) */
//   .dropdowncontent {
//     display: none;
//     position: absolute;
//     background-color:rgb(255, 141, 199);
//     min-width: 100px;
//     /* box-shadow: 0px 8px 16px 0px #FFCC29; */
//     /* box-shadow: inset 0 -3px 0 #FFCC29; */
//     z-index: 1;
//   }

//   .nav-link {
//     background-color:rgb(255, 141, 199);
//     cursor: pointer;
//     color: white;
//   }

.header{
	background-color: #FF8DC7;
	color:#fff;
	padding: 2%;
	text-align: center;
}

.content{
	background-color: #FF8DC7;
	color:#fff;
}

header{
	font-size: -webkit-xxx-large;
}

.app-footer{
	background-color: #333;
	height: 10vh;
	color:#fff;
	padding: 0;
	text-align: center;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}