/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.3/assets/owl.theme.default.css');
body{
    background-color: #eeeeee;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 52px;
    font-weight: 900;
}
h2{
    font-size: 48px;
    font-weight: 100;
    text-transform: lowercase;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
.padded{
    padding-top: 80px;
    padding-bottom: 80px;
}
.filaSeleccionada{
    background-color: #ffcc00!important;
}